body, html {
    margin: 0;
    font-family: 'Lato Light', serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444444;
}

.container {
    text-align: center;
    margin-top: 60px;
    height: 300px;
}

.provinces, .communes, .countries, .cities, .streets {
    margin-top: 5px;
    padding: 0 5px;
}

.textAlignLeft{
    text-align: left;
}

.textAlignRight{
    text-align: right;
}

.textAlignCenter{
    text-align: center;
}

.floatLeft{
    float: left;
}
a, input[type='checkbox']{
    outline: none;
}
a.registerButton, button.registerButton{
    background-color: #e3ab40;
    color: white;
    font-weight: 900;
}

.custom-select2{
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("/assets/multimedia-option.png") no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.image{
    background-image: url("/assets/logo.png");
    width: 50px;
    height: 50px;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.image::after{
    content: 'PlacesApi';
    margin-left: 42px;
    vertical-align: -44%;
    font-family: 'Lato', serif;
    font-weight: 500;
    color: #e3ab40 !important;
}

.navbar.fixed-bottom{
    background-color: #c0c0c0;
    padding: 50px 0;
}

.leftLabel{
    margin: 0 !important;
    float: left;
    text-indent: 2px;
    font-size: 11px;
}

.step{
    height: 50px;
    margin: 30px auto;
    line-height: 50px;
}

.actual-step-container{
    display: flex;
}

.actual-step{
    background-color: #e3ab40;
    width: calc(100% - 10px);
    height: 50px;
    margin: 30px auto;
    line-height: 50px;
}

.actual-step-arrow{
    content: '';
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
    border-color: transparent transparent transparent #e3ab40;
    margin-top: 30px;
}

.orange-text-color {
    color: #e3ab40 !important;
    font-family: 'Lato', serif;
    font-weight: 500;
}